.App {
  /*text-align: center;*/
  background-color: #fffae1;
}

.container {
  max-width: 430px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  background-color: #ffffff;
}





/* 반응형 */
@media (min-width: 375px) {
  .App {
    position: relative;
  }
}
@media (max-width: 500px) {
  .App {
    position: relative;
  }
}