.slider-container {
    width: 100%;
    margin: auto;
    position: relative;
    height: 204px;
}

.carousel-item {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}


.carousel-image {
    width: 114px;
    height: 161px;
    object-fit: cover;
    transition: width 0.3s ease-in-out, height 0.3s ease-in-out, transform 0.3s ease-in-out;
}


.slick-center .carousel-image {
    width: 160px !important;
    height: 226px !important;
    position: relative;
    z-index: 2;
    box-shadow: 2px 5px 6px rgba(0, 0, 0, 0.5);
}

.slick-slide:not(.slick-center) .carousel-image {
    position: relative;
    align-self: center;
}

/* 양 옆 이미지 정렬 */
.slick-slide {
    display: flex !important;
    justify-content: center;
    align-items: center;
}

/* 양 옆 슬라이드 -> 중앙과 같은 y에 오도록 조정 */
.slick-slide:not(.slick-center) .carousel-image {
    top: 50%;
    transform: translateY(10%);
    z-index: 1;
}

.slick-slide {
    outline: none !important;
}

.slick-slide:focus,
.slick-slide:active {
    outline: none !important;
}




